/* General reset */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navigation bar styling */
.navbar {
    background-color: #004d00; /* Dark green background for the navbar */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    max-width: 150px; /* Adjust the size of the logo */
    margin-right: 5px; /* Space between the logo and the nav items */
    height: auto;
}

.navbar ul {
    display: flex;
    justify-content: center; /* Centers the navbar items */
    align-items: center;
    flex-grow: 1; /* Allows the nav items to take up remaining space */
    flex-wrap: wrap;
}

.navbar li {
    margin: 0 8px; /* Space between each nav item */
}

.navbar a {
    text-decoration: none;
    color: white; /* White text color */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #006600; /* Slightly lighter green on hover */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Add this CSS for the login button */
.login-button {
    /* background-color: #008000; Green background for the login button */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.login-button:hover {
    background-color: #006600; /* Darker green on hover */
}

/* Header container styling */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the items horizontally */
    text-align: center; /* Ensures text is centered within the header-text div */
    margin-top: 10px; /* Adjust this value to control the gap */
    padding: 0 5%;
}

.header-text h1, .header-text h2, .header-text h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}  

/* Scaling headers */
.header-text h1 {
    font-size: 2em; /* Adjust size as needed */
}

.header-text h2 {
    font-size: 1.5em; /* Adjust size as needed */
}

.header-text h3 {
    font-size: 1.2em; /* Adjust size as needed */
}

.header-text h4 {
    font-size: 1.0em; /* Adjust size as needed */
}

/* For the Mission Statement and its content */
.mission-statement {
    text-align: left; /* Aligns the heading to the left */
    margin: 20px; /* Optional: Adds spacing for better readability */
    padding-left: 10px;
}

.mission-body {
    text-align: left; /* Aligns the body text to the left */
    margin: 10px 20px; /* Optional: Adds margin around the body text */
    padding-left: 10px;
}



/* Logo styling */
.ig_logo, .linktree_logo, .groupme_logo {
    max-width: 15%; /* Set the max width for the logos */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 10px; /* Add space around each logo */
    display: inline-block; /* Allow logos to be centered */
    vertical-align: middle; /* Align logos vertically */
    
}

/* Hide the hamburger menu by default */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* Container for centering the Instagram embed */
.instagram-embed-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin: 0 auto; /* Center the container itself */
    margin-top: 20px;
    /* padding: 20px; Optional: adds padding around the embed */
}

/* Styling for the Instagram embed blockquote */
.instagram-embed-container blockquote.instagram-media {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    max-width: 100%; /* Ensure it scales responsively */
    border: none; /* Remove any default border */
    box-shadow: none; /* Remove any default shadow */
    width: 100%; /* Make sure it fits the container */
    margin: 0
}

/* Media query for mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    

    .navbar .logo {
        display: block;
        margin: auto; /* Center logo */
        max-width: 50%;
    }
    
    .navbar ul {
        display: none; /* Hide menu items by default on mobile */
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .navbar ul.show {
        display: flex; /* Show menu items when toggled */
    }

    .navbar li {
        margin-bottom: 8px; /* Adds space between nav items */
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        background-color: white;
        height: 3px;
        width: 25px;
        margin: 2px 0;
    }

    .navbar .logo {
        display: block;
        margin: auto; /* Center logo */
    }
    .ig_logo, .linktree_logo, .groupme_logo {
        max-width: 30%; /* Increase size on smaller screens for better visibility */
        margin: 20px 5px; /* Adjust spacing on mobile for better fit */
    } 

    /* Media query for responsive design */
    blockquote.instagram-media {
        max-width: 90%; /* Adjust width for smaller screens */
        justify-content: center;
        margin: 0 auto;
    }

    .poster {
        max-width: 90%;
        display: block; /* Remove inline display space */
        margin: 0 auto; /* Center the image */
        margin-top: 20px;
    }
}


